/* our Main colors in Hex
#efaf96
#ea9087
#cb8d9a
#9d98ae
#8497b5
?v=<?php echo time(); ?>
 */



 /* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap'); */

 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

 body {
  background-color: #f4f6f8;
  background-attachment: fixed;
  color: black;
  font-family: 'Roboto','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  overflow-x: hidden;
}

/*Hide scrollbar but still able to scroll*/
body{
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

::selection {
  background-color: rgba(0,0,0,.3);
  color: white;
}

header {
  text-align: center;
  font-size: medium;
  margin-top: -18px;
  padding-bottom: 50px;
  padding-top: 50px;

  margin-bottom: 50px;
  margin-top: -80px;

  -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}


/*for sidebar menu*/
.sidenav {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: white;
  border-right: 1px rgba(0, 0, 0, 0.1) solid ;

  padding-top: 35px;
}


.sidenav a {
  text-decoration: none;
  font-size: 12px;
  color: #a2a2a2;
  display: block;
  margin-bottom: 0;

  height: 70px;
 
  padding: 6px 8px 6px 16px;
 padding-top: 40px;
 text-align: center;

 margin-left: -10px;
}


.sidenav .focused, .sidenav .focused:hover {
  color: white;
  background-color: #8497b5;
}


  
  .sidenav a:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transform: translateX(0);

  } 
  
  .main {
    
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    margin-left: 150px; /*same as sidenav width*/

    /* 100 % 100px
    90 % 150px
    80 % 200px */
   width: 85%;
  }

footer {
  text-align: center;
  font-size: medium;
  /* margin: -18px; */
  margin-top: 100px;
  padding-bottom: 50px;
  /* width: 95% ;  */
}

footer a{
text-decoration: none;
}

footer a:visited {
  color: inherit;
}

footer a:hover{
  text-decoration:underline;
}

footer p{
  font-size: small;
}

footer .icons{
  background-color: rgba(255, 255, 255, 0.5); 
  max-width: 20px; 
  padding: 10px; 
  border-radius: 100px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

a, button
{
  cursor: pointer;
}

.firstPage
{
    background-image: linear-gradient(#e66465, #9198e5),
     url('background.png');
    color: white;
    font-size:6em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.firstPage .paragraph{
    color: white;
    font-size: medium;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.firstPage a {
    border: 1px solid white;
    border-radius: 50px;
    padding: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: large;
}

/*home page style */

.homePage
{
    background-attachment: fixed;
    /*color: white;*/
    font-size:2em;
    
}

.homePage p
{
    /*color: white;*/
    text-align: center;
}


/* image */
.imgborder{
  border: 5px solid #8497b5;
  padding: 5PX;
  border-radius: 25px;
}



/*search bar*/
.searchIcon
{
  cursor: pointer; 
  background-color: #C0C0C0;
  padding-left: 10px; 
  padding-right: 10px; 
  margin-left: -10px; 

  border-radius: 0px 5px 5px 0px;

}

.searchBar
{
  height: 33px; 
  position: relative; 
  top: -6px;
  border: none;
  border-radius: 5px 0px 0px 5px;

}



/*for event manager page*/
.managerPage
{
    /*background: linear-gradient(#e66465, #9198e5);
    background-attachment: fixed;*/
    /*color: white;*/
    font-size:2em;
    /*font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
}

.managerPage p
{
    /*color: white;*/
    text-align: center;
}

hr
{
    opacity: 0.2;
    width: 80%;
}

 .buttonstyle, input[type=submit]
{
    /*font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    border: 1px solid #8497b5;
    border-radius: 50px;
    padding: 10px;
    text-decoration: none;
    color: #8497b5;
    font-weight: bold;
    font-size: medium;
    background: none;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

.disable{
  /*
background-color: black;
color: white;
border:none;*/
  color: rgb(0, 0, 0);
  border-color: black;
  
  opacity: 0.2;
  pointer-events: none;
}

.buttonstyle2
{
    /*font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    border: 1px solid #8497b5;
    border-radius: 50px;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: medium;
    background-color: #8497b5;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

.center{
    margin-left:auto; margin-right: auto;
    text-align: center;
}

.left{
  margin-left:auto; margin-right: auto;
  text-align: left;
}

.right{
  margin-left:auto; margin-right: auto;
  text-align: right;
}


/*for admin page*/
  .admin p
  {
font-size: small;
  }


  h1,h2,h3,h4,h5,h6
  {
    text-align: center;
    color: #1c2841;
  }
  .LoginRegisterPage
{
    background-attachment:fixed;
    height:100%;
    align-items: center;
    background-color: #e3e8e8;

    background-attachment: fixed;
    color: black;
}
.loginContainer
{
    /* height: 40%;
    width: 30%; */
    max-width: 700px;
    max-height: 700px;
    border-style: solid;
    border-width: 2px;
    position: relative;
    top:170px;
    left: 26%;
    right: 17%;
    padding-bottom: 2%;
    align-items: center;
    text-align: center;
    color: #063a62;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.loginBox
{
    min-width: 200px;
    min-height: 200px;
    /* border-style: solid;
    border-width: 2px; */
    /* background-color: #debac2; */
}
.loginInputs
{
  height: 30px;
  width: 230px;
  border-radius: 4px;
}
.newuser
{
  text-decoration: none;
  color:#063a62db;
}



/*form style*/
.myform input[type=text], .myform input[type=password] {
  border: none;
  border-radius: 4px;
  float: right;
}

.myform input[type=submit] {
  float: center;
}

.myform label {
  border-radius: 4px;
  float: left;
  padding-right: 10px;
}


.myform .submitbutton {
   width:30%; 
   background-color:white; 
   color: #8497b5;
}

.search-container
{
  margin-left:-50px;
 
}
.ViewAllEvents
{
  margin-left: 10.5%;
  font-size: 65%;
  border-style: solid;
  border-color: #063a62db;
  min-height: 200px;
  min-width:200px ; 
  border-radius: 8px;
  padding: 20px;
  margin-top: 2%;
}

.NameOfEvent
{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  font-size: 60px;
  text-transform: capitalize;
  z-index: 1;
}
.Desc::first-letter{
  text-transform: capitalize;
  }
.Desc
{
  max-width: 70%;
  max-height: 30%;
  padding: 20px;
  font-size: 17px;
  overflow:auto;
}
div.Date-Time
{
  font-size:30px;
}
div.NumOfTikContainer
{
text-align: right;
margin-top: -200px;
align-items: right;
font-size: 30px;

}
div.NumOfTikNum
{
  text-align: center;
  align-items: right;
  border-style: solid;
  border-width: 3px;
  width:30px;
  height: 30px;
  padding: 5px;
  margin-left: 89%;
  margin-top: 2%;
 
}
img.PicOfEvent
{
 margin-left: 10px;
 z-index: -1;
}
div.TextOfEvent
{
margin-left: 160px;
  margin-top: -100px;
}
.editbutton
{
  margin-left: 86%;
  margin-top: 1%;
  text-align: center;
  padding: 15px 32px;
  text-transform: Uppercase;
  display: inline-block;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 1px solid #8497b5;
  border-radius: 50px;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: medium;
  background-color: #8497b5;
  cursor: pointer;
  width: 8%;
  
}

/* 
.greatingUser
{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 2%;
  font-size: 300%;
  text-transform: capitalize; 
  color: #063a62;
}
.greatingUser2
{
  margin-top: -50px;
  font-size: 200%;
  text-align: center;
  margin-left: 2%;
}
div.label1
{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:#063a62;
} 
div#book
{
  border-color:#042c4a;
  border-width: 2px;
  border-style: dashed;
  min-width: 600px;
  min-height: 600px;
  display: inline-block;
  margin-left: 31%;

}
*/
.paymentRadio
{
 
  min-height: 25px;
  font-size: 15px;
  margin-left: 150px;
  margin-top: -50px;

}

.paymentRadioText
{
position: relative;
top: -5px;
}


/*form style*/

.myform input[type=text], .myform input[type=password] {
  border: 2px solid rgb(187, 187, 187);
  border-radius: 4px;
  float: right;
}

.myform input[type=text]:disabled, .myform input[type=password]:disabled {
  border:none;
  background-color: rgba(0, 0, 0, 0.1);
}

.myform input[type=submit] {
  float: center;
}

.myform label {
  border-radius: 4px;
  float: left;
  padding-right: 10px;
}


.myform .submitbutton{
   width:30%; 
   background-color:#8497b5; 
   border: none;
   color: white;
}

.formBackground {
  background-color: rgb(255, 255, 255);  
  padding: 5% 10% 5% 10%;   
  border-radius: 20px;
  max-height:250px;
  min-height:250px;
  width: 350px;
  display: inline-block;
}





/* add event form style */

.container {
	padding: 20px;
	background-color: rgb(255, 255, 255);
	line-height: 30px;
	width: 500px;
  text-align: left;
  border-radius: 20px;
  display: inline-block;
}

.container span {
	padding-left: 40px;
	display: inline-block;
  vertical-align: top;
	width: 30%;
}

.container input{
	min-height: 25px;
	display: inline-block;
	width: 50%;

  
  border: 2px solid rgb(187, 187, 187);
  border-radius: 4px;
}

.container textarea {
	display: inline-block;
	margin-top: 10px;
	width: 50%;
  resize: none;

  
  border: 2px solid rgb(187, 187, 187);
  border-radius: 4px;
}
.container select {
	min-height: 25px;
	display: inline-block;
	width: 51%;

  
  border: 2px solid rgb(187, 187, 187);
  border-radius: 4px;
}

.container input[type=number] {
  min-height: 25px;
	display: inline-block;
	width: 49.4%;
}

.container select:disabled, .container input:disabled {
  border-color: rgba(0, 0, 0, 0.01);
  background-color: rgba(0, 0, 0, 0.1);
}

.container .hint{
  position: relative; z-index: 2; top: -41px; right: -205px; width: 140px; 
  background-color: rgba(255, 255, 255, 0.5); text-align: center;
  display: none;
  border-radius: 0px 50px 0px 0px;
}


#ErrorMessege
{
    display: none;
    color: red;
    background-color: white;
    border-radius: 4px;
    min-height: 20px;
    max-height: 100px;
    width: 270px;
    padding: 8px;
    margin-left: 200px;
    text-transform: capitalize;
}


