/* our Main colors in Hex
#efaf96
#ea9087
#cb8d9a
#9d98ae
#8497b5
?v=<?php echo time(); ?>
 */



 body {
  /*background-image:linear-gradient(to right bottom, #efaf96, #eaa897, #e4a197, #de9a98, #d69499, #d0919f, #c88fa5, #be8ea9, #b090b1, #a193b6, #9295b7, #8497b5);*/
  /*background-image: linear-gradient(#e66465, #9198e5);*/
  /*background-image: linear-gradient(#e7f0ff, #c6dbff);*/

  background-color: #e3e8e8;
  background-attachment: fixed;

  color: black;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}



a, button
{
  cursor: pointer;
}

.firstPage
{
    background-image: linear-gradient(#e66465, #9198e5),
     url('background.png');
    color: white;
    font-size:6em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.firstPage .paragraph{
    color: white;
    font-size: medium;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.firstPage a {
    border: 1px solid white;
    border-radius: 50px;
    padding: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: large;
}

.homePage
{
    background-attachment: fixed;
    /*color: white;*/
    font-size:2em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.homePage p
{
    /*color: white;*/
    text-align: center;
}

/*for event manager page*/
.managerPage
{
    /*background: linear-gradient(#e66465, #9198e5);
    background-attachment: fixed;*/
    /*color: white;*/
    font-size:2em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.managerPage p
{
    /*color: white;*/
    text-align: center;
}

hr
{
    opacity: 0.2;
}

button, .buttonstyle, input[type=submit]
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid #8497b5;
    border-radius: 50px;
    padding: 10px;
    text-decoration: none;
    color: #8497b5;
    font-weight: bold;
    font-size: medium;
    background: none;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

.buttonstyle2
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid #8497b5;
    border-radius: 50px;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: medium;
    background-color: #8497b5;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

.center{

    margin-left:auto; margin-right: auto;
    text-align: center;
}

/*for sidebar menu*/
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .2);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    color: white;
    display: block;
    margin-bottom: 25px;
  }
  
 /* .sidenav a:hover {
  color: #a0bfbf;
  } */
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

/*for admin page*/
  .admin p
  {
font-size: small;
  }

 /* .admin
{
    background: linear-gradient(#e66465, #9198e5);
    background-attachment: fixed;
    color: white;
    font-size:2em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}*/


  h1,h2,h3,h4,h5,h6
  {
    text-align: center;
    color: #1c2841;
  }
  .LoginRegisterPage
{
    background-attachment:fixed;
    height:100%;
    align-items: center;
    background-image:linear-gradient(to right bottom, #efaf96, #eaa897, #e4a197, #de9a98, #d69499, #d0919f, #c88fa5, #be8ea9, #b090b1, #a193b6, #9295b7, #8497b5);
}
.loginContainer
{
    /* height: 40%;
    width: 30%; */
    max-width: 700px;
    max-height: 700px;
    border-style: solid;
    border-width: 2px;
    position: relative;
    top:170px;
    left: 26%;
    right: 17%;
    align-items: center;
    text-align: center;
    color: #063a62;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.loginBox
{
    min-width: 200px;
    min-height: 200px;
    border-style: solid;
    border-width: 2px;
    /* background-color: #debac2; */
}
.loginInputs
{
  height: 30px;
  width: 230px;
  border-radius: 4px;
}
.newuser
{
  text-decoration: none;
  color:#063a62db;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, .2);
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 14px;
  color:#8497b5;
  display: block;
  margin-bottom: 25px;
}


/*form style*/
.myform input[type=text], input[type=password] {
  border: none;
  border-radius: 4px;
  float: right;
}

.myform input[type=submit] {
  float: center;
}

.myform label {
  border-radius: 4px;
  float: left;
  padding-right: 10px;
}


.myform .submitbutton {
   width:30%; 
   background-color:white; 
   color: #8497b5;
}

.search-container
{
  margin-left:-50px;
 
}
.ViewAllEvents
{
  margin-left: 15%;
  font-size: 65%;
  border-style: solid;
  border-color: #063a62db;
  min-height: 200px;
  min-width:200px ; 
  border-radius: 8px;
  padding: 20px;
  margin-top: 0.5%;
}

.NameOfEvent
{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  font-size: 60px;
  text-transform: capitalize;
  z-index: 1;
}
.Desc::first-letter{
  text-transform: capitalize;
  }
.Desc
{
  max-width: 70%;
  max-height: 30%;
  padding: 20px;
  font-size: 17px;
  overflow:auto;
}
div.Date-Time
{
  font-size:30px;
}
div.NumOfTikContainer
{
text-align: right;
margin-top: -200px;
align-items: right;
font-size: 30px;
}
div.NumOfTikNum
{
  text-align: center;
  align-items: right;
  border-style: solid;
  border-width: 3px;
  width:30px;
  height: 30px;
  padding: 5px;
  margin-left: 1100px;
 
}
img.PicOfEvent
{
 margin-left: 10px;
 z-index: -1;
}
div.TextOfEvent
{
margin-left: 160px;
  margin-top: -100px;
}
.editbutton
{
  
  margin-left: 87%;
  margin-top: 1%;
  text-align: center;
  padding: 15px 32px;
  text-transform: Uppercase;
  display: inline-block;
}

/* 
.greatingUser
{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 2%;
  font-size: 300%;
  text-transform: capitalize; 
  color: #063a62;
}
.greatingUser2
{
  margin-top: -50px;
  font-size: 200%;
  text-align: center;
  margin-left: 2%;
}
div.label1
{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:#063a62;
} 
div#book
{
  border-color:#042c4a;
  border-width: 2px;
  border-style: dashed;
  min-width: 600px;
  min-height: 600px;
  display: inline-block;
  margin-left: 31%;

}
*/
.paymentRadio
{
 
   display: inline; 
  min-height: 25px;
  font-size: 15px;
  margin-left: 150px;
  margin-top: -50px;

}


/*form style*/

.myform input[type=text], input[type=password] {
  border: 2px solid rgb(187, 187, 187);
  border-radius: 4px;
  float: right;
}

.myform input[type=text]:disabled, input[type=password]:disabled {
  border:none;
  background-color: rgba(0, 0, 0, 0.1);
}

.myform input[type=submit] {
  float: center;
}

.myform label {
  border-radius: 4px;
  float: left;
  padding-right: 10px;
}


.myform .submitbutton{
   width:30%; 
   background-color:#8497b5; 
   border: none;
   color: white;
}

.formBackground {
  background-color: rgb(255, 255, 255);  
  padding: 5% 10% 5% 10%;   
  border-radius: 20px;
  max-height:250px;
  min-height:250px;
  width: 350px;
  display: inline-block;
}





/* add event form style */

.container {
	padding: 20px;
	background-color: rgb(255, 255, 255);
	margin: auto;
	margin-top: 20px;
	line-height: 30px;
	width: 500px;
  text-align: left;
  border-radius: 20px;

}

.container span {
	padding-left: 40px;
	display: inline-block;
  vertical-align: top;
	width: 30%;
}

.container input{
	min-height: 25px;
	display: inline-block;
	width: 50%;

  
  border: 2px solid rgb(187, 187, 187);
  border-radius: 4px;
}

.container textarea {
	display: inline-block;
	margin-top: 10px;
	width: 50%;

  
  border: 2px solid rgb(187, 187, 187);
  border-radius: 4px;
}
.container select {
	min-height: 25px;
	display: inline-block;
	width: 51%;

  
  border: 2px solid rgb(187, 187, 187);
  border-radius: 4px;
}

.container input[type=number] {
  min-height: 25px;
	display: inline-block;
	width: 49.4%;
}



/* image */
.imgborder{

  border: 5px dotted #a0bfbf;
  padding: 5PX;
  border-radius: 25px;
}
