td {
    text-align: left;
  }
  
  button, .buttonstyle, input[type=submit]
  {
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      border: 1px solid white;
      border-radius: 50px;
      padding: 10px;
      text-decoration: none;
      color: white;
      font-weight: bold;
      font-size: medium;
      background: none;
      text-align: center;
      margin: 10px;
  }
  
  .container {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 20px;
    margin-left: 33%;
    line-height: 30px;
    width: 500px;
    text-align: left;
    border-radius: 20px;
  }
  
  .container span {
    padding-left: 40px;
    display: inline-block;
    vertical-align: top;
    width: 30%;
  }
  
  .container input{
    min-height: 25px;
    display: inline-block;
    width: 50%;
  }
  
  .container textarea {
    display: inline-block;
    margin-top: 10px;
    width: 50%;
  }
  .container select,.container input[type=number] {
    min-height: 25px;
    display: inline-block;
    width: 51%;
     font-size: 15px;
  }

  
  .right{
    text-align: right;
  }
  
  body{
    background-color: #e3e8e8;
      background-attachment: fixed;
      color: black;
      font-size:2em;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  }
  span.lab
  {
  
    display: inline-block;
    /* min-height: 25px; */
    /* width: 30%; */
    font-size: 15px;
    margin-top: 5px;
  }
  .pic 
  {
    margin-left: 26%;
  }
  /* .bodyTickets
  {
   
   
    /* margin-top: 70px; */
     /* margin-left: 160px;
    background-color: #b3b5b5;
  } */
  .search
  {
    margin-left: 250px;
    margin-top: 60px;

  }
  .search
  {
    margin-left: 15%;
  }
  
  .search-container1
  {
    margin-left:-50px;
    margin-top:70px;
    margin-bottom: -40px;
   
  }
  .searchBar1
  {
    height: 30px; 
    position: relative; 
    width: 370px; 
    border-radius: 5px ;
  
  }

  